$white: #fff;
$op-white: #d7ccc0;
$light: #f5f4f0;
$main: #fe8a02;
$main-dark: #42413c;
$dark: #2a2626;
$op-dark: #908d8b;
$brown: #b09a81;
$blue: #1085c5;
body * {
  box-sizing: border-box;
}

.bg-light {
  background-color: $light;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  color: #2A2626;
}

div, section, header, main, footer {
  position: relative;
}

h1, h2, h3, h4 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.h1 {
  font-size: 72px;
}

.text-orange {
  color: $main;
}

.text-white {
  color: $white;
}

.bg-img {
  &::before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.1;
    background-image: url("../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bg-dark {
  background-color: $main-dark;
}

.container {
  z-index: 100;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.header-title {
  margin-bottom: 178px;
}

.header-img {
  position: absolute;
  z-index: -1;
  top: 55px;
  right: -270px;
  height: 525px;
}

.header-description {
  display: flex;
  gap: 30px;
}

.header-description-item {
  flex: 1 1 540px;
}

.btn {
  font-weight: bold;
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background: $main;

  &:hover {
    background: #EA7600;
  }
}

.btn-header {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.margin-vert-30px {
  margin: 30px 0;
}

.margin-top-12px {
  margin-top: 12px;
}

.video {
  display: block;
  width: 919px;
  height: 569px;
  margin: 0 auto;
  border: none;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-with-video {
  &::after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100px;
    content: '';
    background: $main-dark;
  }

  .container {
    padding-bottom: 16px;
  }
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.nav-element {
  flex: 1 1 350px;
  padding: 24px;
  background: $light;
}

.first-nav-element {
  padding: 0;
  background: $main-dark;
}

.nav-hover-element {
  &:hover {
    background: $main;

    & p, h3 {
      color: $white;
    }
  }

  & a {
    text-decoration: none;

    & p {
      color: $dark;
    }
  }
}

.nav-item-header {
  font-size: 52px;
}

.nav-number {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
  color: $main-dark;
}

.nav-text {
  margin-bottom: 0;
}

.main-section-first-element {
  display: flex;
  gap: 0 30px;
}

.main-section-first-element-entries {
  line-height: 0;
  flex: 1 1 50%;

  & img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
  }
}

.main-section-first-element-title {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  margin: 0;
  color: $op-dark;
}

.main-section-first-element-header {
  margin-bottom: 30px;
  color: $dark;
}

.main-section-first-element-description {
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 1.2em;
  margin: 0;
}

.main-section-second-element {
  display: flex;
}

.main-section-second-element-header {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  flex-grow: 1;
  margin: 100px 0 20px 0;
  padding: 5px 0 5px 10px;
  text-transform: uppercase;
  color: $white;
  background: $brown;
}

.main-section-third-element {
  display: flex;
  gap: 0 30px;
}

.main-section-third-element-text {
  flex: 1 1 50%;
  margin: 0;

  & p {
    margin: 0;
  }

  & .main-section-third-element-text-element {
    margin-top: 15px;
  }
}

.bg-brown {
  background-color: $brown;

  & .main-section-first-element {
    flex-direction: row-reverse;
  }

  & .main-section-first-element-title {
    color: $op-white;
  }

  & .main-section-first-element-header, .main-section-first-element-description, .main-section-third-element-text {
    color: $white;
  }

  & .main-section-second-element-header {
    color: $brown;
    background: $white;
  }
}

.feedback-form {
  display: flex;
  margin-bottom: 60px;
  background: $main-dark;
}

.subscribe-text {
  display: flex;
  flex: 1 1 50%;
  padding: 55px;
  color: $white;
}

.entry-field {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
}

.form {
  margin-top: 5px;
  margin-left: 15px;
}

.input-form {
  width: 485px;
  height: 50px;
  padding: 15px;

  &::placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #757575;
  }
}

.email {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: $white;
}

.service-rules, .service-rules a {
  font-size: 12px;
  margin-top: 0;
  color: $white;
}

.email-form {
  &::after {
    position: absolute;
    right: 0;
    width: 70px;
    height: 50px;
    content: '';
    cursor: pointer;
    background-color: $main;
    background-image: url("../../images/send.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    &::after {
      background-color: #EA7600;
    }
  }
}

.post-scriptum {
  font-size: 14px;
  margin: 16px auto;
  text-align: center;

  & a {
    font-size: 14px;
  }
}
